!URxvt.perl-ext-common: default,tabbed

URxvt*termName: rxvt-256color
urxvt.background:  #000000
urxvt.foreground:  #FFFFFF
urxvt*scrollBar:	false
urxvt*secondaryScroll:	 true
urxvt*cursorBlink:		true
urxvt*saveLines:         65535

urxvt*font: xft:Terminus
urxvt*boldFont: xft:Terminus
!urxvt*font:		inconsolata
!urxvt.font:  xft:Terminus:size=8
urxvt*cursorColor: #FFFFFF

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0

urxvt*foreground: white
urxvt*background: black

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC

URxvt.perl-ext-common: ...,clipboard
URxvt.keysym.C-Insert:   perl:clipboard:copy
URxvt.keysym.S-Insert:   perl:clipboard:paste
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
